
<div class="message">
<%=flash[:message] if flash[:message]%>
</div>

<h1>Welcome to the World of Astrophotographers!</h1>
<h2>Start here!</h2>
<%=form_for :user do |f|%>
    <%=f.label :username%>
    <%=f.text_field :username%>
    <br><br>
    <%=f.label :password%>
    <%=f.password_field :password%>
    <br><br>
    <%=f.submit "Sign Up"%>
<%end%>

<style>
.message {
    color: green;
}
</style>
<!--

<h1>Welcome to the World of Astrophotographers!</h1>
<h2>Start here!</h2>
<%=form_tag(signup_path) do |f|%>
    <%=text_field_tag :username, nil, :placeholder => "Sign Up" %>
    <%= password_field_tag :password, nil, :placeholder => 'Password' %>
    <%= password_field_tag :profile_image, nil, :placeholder => 'profile_image' %>
    <%= password_field_tag :bio, nil, :placeholder => 'bio' %>
    <%=submit_tag "sign up", class: "sessions"%>
<%end%>
-->
<style>
.message {
    color: green;
}
</style>
