
<%=link_to "Dashboard", root_path%>
<%=link_to "back to Astrotographers", users_path%>
<h2>About <%=@user.username.capitalize%></h2>
<img src="<%=@user.profile_image%>"/>
<h2>Bio <%=@user.bio%></h2>

<%if current_user%>
    <%=link_to "Edit profile", edit_user_path(@user)%>
<%end%>
<br><br>
<%=button_to "Delete Account", user_path(@user), :method => :delete, data:{confirm: "Are you sure you want to delete your account?"}%>


<style>
img {
height: 150px;
 width: 100 px
}
</style>