<%=render partial: 'cons', locals: {constellation: @constellation} %>


<%=link_to "Home", root_path%>
<%=link_to "Constellations", constellations_path(@constellation)%> |
<%=link_to "Add a Constellation", new_constellation_path(@constellation)%> |
<%=link_to "users", users_path%> |

<h1>Edit Constellation</h1>
