<%=render partial: 'cons', locals: {constellation: @constellation} %>

     <%if @constellation.errors.any?%>
        <h3>
            <p><%=pluralize(@constellation.errors.count, "error")%></p>
        </h3>
    <ul>
            <%@constellation.errors.full_messages.each do |m|%>
            <p><li><%=m%></li></p>
      <%end%>
    </ul>
<%end%>

<%=link_to "Dashboard", root_path%> |
<%=link_to "users", users_path%> |
 <%=link_to "Back to Constellations", constellations_path(@constellation)%> 


<h1>New Constellation</h1>
 

<br>


<style>
.field_with_errors {
  color: red;
}
</style>
 