<!DOCTYPE html>
<html>
  <head>
    <title>Astrophotography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!--<%=link_to 'Log Out', logout_path, method: :delete%>-->

<% if !flash[:error].blank? %>
    <div class="error">
      <%= flash[:error] %>
      </div>
  <% end %> 

<% if !flash[:message].blank? %>
  <div class="message">
  <%= flash[:message] %>
  </div>
 <% end %>

 
<%=render_navigation%>

<%= yield %>


  </body>
</html>
